
body {
    background-color:#ffffff;
    background-color: #ffffff; 
    background-image: url('bg-img2.webp'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
  }
  

  
 
  